*{
  margin:0px;
padding:0px;


}
body{

    background: #C2BBF1;
    color:aliceblue;

}
.contenedor{
   width: 100%;
    max-width: 767px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;

}
header{
    width: 100%;
  height: 80px;
background:rgba(134,134,134,0.3);
}
header img{
 
}
header h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
display: none;
    margin-top: -70px;
	animation:backInRight;
  animation-duration:0.5s;

}

#btn-menu{
    
    display: none;
}
header label{
   
display:none;
    width: 48px;
    height: 48px;
    padding: 10px;
    
    
}
header label:hover{
    cursor: pointer;
    background:rgba(0,0,0,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
   
}
.menu li:hover{
  cursor: pointer;
    background:rgba(0,0,0,0.3);
    
}
.menu li{
     font-size: 20px;
     font-family: 'Indie Flower', cursive;
    text-align: center;
    flex-grow: 1;
     border-right:1px solid #fff; 
}
.menu li a{
    display: block;
    padding: 20px 20px;
    color: aliceblue;
    text-decoration: none;
    
}
nav{
    background: #B079F2;
    height: 80px;


}
nav h2{

     font-size: 40px;
    text-align: center;
    line-height: 60px;

}

.logo{
   height: 200px;
    width: 100%;
   
     //*background: #A3E9E4;*//
}
.logo img{
   text-align: center;
   height: 400px;
    width: 100%;
   margin-top: -90px;
}
.contenido{
  width: 100%;
    height: 400px;
    float:left;
   
    margin-top: 10px;
    margin-right: 10px;
margin-bottom: 10px;

}
.titulo{
       font-family: 'Indie Flower', cursive;
    color: #ffff;
      font-size: 40px;
    text-align: center;
  margin-bottom: 40px;
 font-weight: 100px;
}
.sub{
 font-family: 'Indie Flower', cursive;
    color: #ffff;
    font-size: 20px;
    font-weight: 400px;
}
.contenido img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.contenido p{
    font-family: 'Quicksand', sans-serif;
      color: #757575;
   text-align: justify;
    font-size: 18px;
    font-weight: 100px;
	padding: 7px;
    
    
}
/*-------------------------------------------------*/

.android{
	margin-top: 50px;
  width: 100%;  /*ancho*/
   height: 410px;   
     background:rgba(73,184,144,0.4);
    float: left;
	margin-bottom: 50px;

	
	
}


.android h1{
 font-size: 20px;
text-align: center;
 font-family: 'Quicksand', sans-serif;
}
.androidimg{
	width:50%;
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
	 transition: all 0.5s;
}
.androidimg:hover{ /*accion de la imagen*/
    
     transform: scale(1.10); /*escala de imagen aumenta*/
    
}
.android p{
      font-family: 'Quicksand', sans-serif;
      color: #757575;
   text-align: justify;
    font-size: 18px;
    font-weight: 100px;
	padding: 7px;
    
    
	}


.titulo3{
	 color: #ffff;
	 text-align: center;
  margin-bottom: 10px;
 font-weight: 100px;
	 font-family: 'Quicksand', sans-serif;
     
	font-size: 25px;
	 animation:pulse;
  animation-duration:1s;
	animation-iteration-count:infinite;
}

/*-------------------------------------------------*/
.con{ 
	margin-top: 40px; 
  width: 100%;  /*ancho*/
   height: 300px;   
     background:rgba(76,149,153,0.4);
    float: right;

	
	
}




.con h1{
 font-size: 20px;
text-align: center;
 font-family: 'Quicksand', sans-serif;
}
.conimg{
	width:40%;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
	 transition: all 0.5s;
}
.conimg:hover{ /*accion de la imagen*/
    
     transform: scale(1.10); /*escala de imagen aumenta*/
    
}
.con p{
      font-family: 'Quicksand', sans-serif;
      color: #757575;
   text-align: justify;
    font-size: 18px;
    font-weight: 100px;
    padding: 7px;
    
	}


/*-------------------------------------------------*/
.micro{ 
	margin-top: 80px; 
  width: 100%;  /*ancho*/
   height: 300px;   
     background:rgba(76,149,153,0.4);
    float: left;

	
	
}




.micro h1{
 font-size: 20px;
text-align: center;
 font-family: 'Quicksand', sans-serif;
}
.micimg{
	width:50%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
	 transition: all 0.5s;
}
.micimg:hover{ /*accion de la imagen*/
    
     transform: scale(1.10); /*escala de imagen aumenta*/
    
}
.micro p{
      font-family: 'Quicksand', sans-serif;
      color: #757575;
   text-align: justify;
    font-size: 18px;
    font-weight: 100px;
	padding: 7px;
    
	}
/*-------------------------------------------------*/
.at{
	text-decoration: none;
	color: aliceblue;
}
.dato1{
     width: 30%;
    height: 200px;
    float:left;
 
        margin-top: 10px;
    margin-left: 10px;
margin-bottom: 10px;
}

.dato2{
     width: 30%;
    height: 200px;
    float:left;
 
        margin-top: 10px;
    margin-left: 10px;
margin-bottom: 10px;
}
.dato3{
     width: 30%;
    height: 200px;
    float:left;
  
        margin-top: 10px;
    margin-left: 10px;
margin-bottom: 10px;
}
.titulo2{
  
    color: #ffff;
      font-size: 40px;
    text-align: center;
  margin-bottom: 10px;
 font-weight: 100px;
}
aside{
    width: 100%;
   height: 300px;
      
    margin-top: 80px;
	
	border-top: white 2px dashed;
border-bottom: white 2px dashed;
    float: right;
	
	
}
aside h3{
    font-family: 'Quicksand', sans-serif;
  font-size: 20px;
text-align: center;

}
aside p{
    font-size: 20px;
text-align: center;
 font-family: 'Quicksand', sans-serif;
}

footer{
   height: 150px;
padding: 20px;
  clear: both;
  background:rgba(134,134,134,0.3);

}
footer h5{
text-align: justify;
  font-size: 40px;
    margin-right: 30px;
text-align: center;
margin-top: 20px;
font-family: 'Reenie Beanie', cursive;

}
.insta{
   padding: 3px 20px;

    width: 20%;

    height: 100px;
    float: right;
}

.insta img{
    align-content: center;
    width: 72px;
   height: 72px;
}


.gugul{
  
    width: 20%;
    padding: 3px 20px;
    height: 100px;
    float: right;
}

.gugul img{
    width: 72px;
   height: 72px;
}

.face{
    

    float: right;
    width: 20%;
   padding: 3px 40px;
    height: 100px;
}

.face img{
    
    width: 72px;
   height: 72px;
}

/*-----------------Cambios de medida*-----------------*/
@media only screen and (max-width:767px) {
  header{
    height: 20%;
  }
    
    
   header label{
        
   display: block; 
         
        
    }
     header h1{
    display: block;
  }
    .menu{
       position: absolute; 
   background: #fff;
        width: 20%;
         margin-left: -60%;
        transition: all 0.5s;
    }
    
    
    .menu ul{
       flex-direction: column; 
       
         background: #B079F2;
    }
    .menu li{
         border-top:1px solid #fff; 
        
    }
    
  #btn-menu:checked ~ .menu {
        margin: 0px;
        
    }
    .contenido{
  width: 100%;
      height: 400px;

}
	.contenido img{
    float: left;
    margin-right: 7px;
    margin-bottom: 5px;
}
	
	.con{ 
height: 400px;
	
	
}

	.con{
	width:100%;
    
}
.micro{ 
	
 
   height: 400px;   
    

	
	
}
	
    aside{
   
width: 100%;
    float: left;
	height: 500px;
    }
	
	.insta{
   padding: 3px 20px;

    width: 15%;

    height: 100px;
    float: right;
}
	.face{
    

    float: right;
    width: 15%;
   padding: 3px px;
    height: 100px;
}

    footer{
 margin-top: 20px;
  

}